@{
    ViewData["Title"] = "About";
}
<h1>Eddie Temple</h1>
<hr/>
<div class="flex-sm-row about_row">
    <div class="grid-container">
        <img class="col-sm-12 col-md-6 col-lg-6 about_image" src="http://www.samefacts.com/wp-content/uploads/2011/12/2005_layer_cake_018-757998.jpg" alt="Eddie Temple photo" />
        <div class="paragraph_right col-sm-12 col-md-6 col-lg-6">
            You're born, you take shit. You get out in the world, you take more shit. You climb a little higher, you take less shit.
            Till one day you're up in the rarefied atmosphere and you've forgotten what shit even looks like. Welcome to the layer cake son.
        </div>
        <div class="paragraph_right col-sm-12 col-md-6 col-lg-6">
            Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward,
            a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution.
            User generated content in real-time will have multiple touchpoints for offshoring.
        </div>
        <div class="paragraph_right col-sm-12 col-md-6 col-lg-6">
            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate
            strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world
            view of disruptive innovation via workplace diversity and empowerment.
        </div>
    </div>
</div>

<div class="flex-sm-row about_row">
    <div class="grid-container">
        <div class="paragraph_left col-sm-12 col-md-6 col-lg-6">
            Amet massa vitae tortor condimentum lacinia quis vel. Sed risus ultricies tristique nulla aliquet
            enim tortor at. Vestibulum sed arcu non odio euismod lacinia at. Facilisi nullam vehicula ipsum a arcu
            cursus. Sociis natoque penatibus et magnis. A diam maecenas sed enim. In mollis nunc sed id semper
            risus in hendrerit gravida. Etiam dignissim diam quis enim lobortis. Rhoncus mattis rhoncus urna neque
            viverra justo nec ultrices. Gravida neque convallis a cras semper. In fermentum posuere urna nec tincidunt
            praesent semper.
        </div>
        <div>
            <img class="col-sm-12 col-md-6 col-lg-6 about_images_right" src="https://live.staticflickr.com/2916/14297760433_1be450c6f4_k_d.jpg" alt="GrossGlockner Road image" />
        </div>
        <div class="paragraph_left col-sm-12 col-md-6 col-lg-6">
            Id volutpat lacus laoreet non. Porta non pulvinar neque laoreet suspendisse interdum consectetur libero id.
            Ut porttitor leo a diam sollicitudin tempor. Lectus proin nibh nisl condimentum id venenatis a condimentum
            vitae. Dictumst quisque sagittis purus sit amet volutpat. Convallis aenean et tortor at risus. Lectus quam
            id leo in vitae turpis massa. Nisi est sit amet facilisis magna etiam tempor. Tempus egestas sed sed risus
            pretium quam vulputate. Purus in massa tempor nec feugiat nisl pretium.
        </div>
    </div>  
</div>
         
