@{
    ViewData["Title"] = "About";
}
<h1>Eddie Temple</h1>

<div>
    <img class="about_image col-sm-6" src="http://www.samefacts.com/wp-content/uploads/2011/12/2005_layer_cake_018-757998.jpg" alt="Eddie Temple photo" />
    <div class="take_shit pull-right col-sm-6 col-md-6 col-lg-6">
        You're born, you take shit. You get out in the world,<br /> you take more shit. You climb a little higher, you take less shit.<br /> Till one day you're up in the rarefied atmosphere and you've forgotten<br /> what shit even looks like. Welcome to the layer cake son.
    </div>
</div>

<img class="about_secondary" src="https://66.media.tumblr.com/tumblr_mde4hdscZm1rbv0tfo1_400.jpg" alt="Eddie Temple photo" />

