@{
    ViewData["Title"] = "About";
}
<h1>Eddie Temple</h1>

<div class="flex-sm-row about_row">
    <div class="container">
        <img class="col-sm-12 col-md-6 col-lg-6 about_image" src="http://www.samefacts.com/wp-content/uploads/2011/12/2005_layer_cake_018-757998.jpg" alt="Eddie Temple photo" />
        <div class="take_shit col-sm-12 col-md-6 col-lg-6">
            You're born, you take shit. You get out in the world, you take more shit. You climb a little higher, you take less shit.
            Till one day you're up in the rarefied atmosphere and you've forgotten what shit even looks like. Welcome to the layer cake son.
        </div>
        <div class="take_shit col-sm-12 col-md-6 col-lg-6">
            Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward,
            a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution.
            User generated content in real-time will have multiple touchpoints for offshoring.
        </div>
        <div class="take_shit col-sm-12 col-md-6 col-lg-6">
            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate
            strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world
            view of disruptive innovation via workplace diversity and empowerment.
        </div>
        <img class="about_secondary" src="https://66.media.tumblr.com/tumblr_mde4hdscZm1rbv0tfo1_400.jpg" alt="Eddie Temple photo" />
    </div>
   
    </div>
    <div class="flex-sm-row about_row">

        <div class="container">
            <img class="about_secondary col-sm-12 col-md-6 col-lg-6" src="https://66.media.tumblr.com/tumblr_mde4hdscZm1rbv0tfo1_400.jpg" alt="Eddie Temple photo" />
        </div>
    </div>
    <div class="take_shit col-sm-12 col-md-6 col-lg-6">
        ajdhfladjhfal
    </div>

