@model IEnumerable<Photo1.Models.Photo>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jame Lionel Price Photography</h1>
    <div class="text-left">
        @foreach (var photo in Model)
        {
            <h2>@photo.Title</h2>
            <h3>@photo.Description</h3>
        }

    </div>
    
</div>
