@{
    ViewData["Title"] = "Home Page";
}
<p>
    <h1 class="display-12" style="font-family:'Imprint MT Shadow'">Welcome to James L Price Photography</h1>
</p>

@await  Html.PartialAsync("Carousel")


   

