@{
    ViewData["Title"] = "Home Page";
}
<p>
    <h1 class="display-12" style="font-family:'Imprint MT Shadow'">Welcome to James Lionel Price Photography</h1>
</p>

<partial Carousel></partial>
   

